user-card {
  display: block;
  position: relative;

  .user-card {
    margin-bottom: 40px;
    padding-top: 110px;
    height: 270px;
    background: #1d1e1f;
  }

  .user-card-title {
    margin-bottom: 27px;
    color: #d6d6d6;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: (50px / 36px);
  }

  .user-stats-label {
    display: block;
    border-bottom: 1px solid #363738;
    padding-bottom: 3px;
    color: #808182;
    text-decoration: none;

    &.active {
      border-bottom: 1px solid #9a5b45;
    }
  }

  .user-stats-value {
    font-size: 1.5rem;
  }

  .g-col.xs-1\/2 {
    width: 50%;
  }

  @media screen and (max-width: 31.24em) {
    .xs-hide {
      display: none;
    }
  }
  @media screen and (min-width: 31.25em) {
    .g-col.sm-1\/4 {
      width: 25%;
    }
  }
  @media screen and (min-width: 46.25em) {
    .g-col.md-1\/3 {
      width: 33.3333333333%;
    }
  }
  @media screen and (min-width: 61.25em) {
    .g-col.lg-1\/2 {
      width: 50%;
    }
  }

}