track-card {

  .track-card {
    overflow: hidden;
  }

  .track-card-username {
    display: block;
    color: #7d7e7f;
    font-size: .8125rem;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }

  .track-card-title {
    font-size: .875rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }

  .track-card-actions {
    display: flex;
    height: 40px;
    color: #5d5e5f;
    fill: #4d4e4f;
    font-size: .8125rem;
    line-height: 40px;

    .cell {
      display: flex;
      align-items: center;
      transform: translate(0, 0);

      icon, icon-button {
        display: flex;
      }

      > a {
        display: flex;

        &:visited {
          fill: #4d4e4f;
        }
      }

      > span {
        margin-left: 6px;
      }

      .icon--headset {
        margin-top: 2px;
      }
    }

    .btn--icon {
      &:active {
        background: rgba(0, 0, 0, 0.2);
      }

      &:hover {
        fill: #78797a;
      }
    }
  }

  //=====================================
  //  Layout: compact
  //-------------------------------------
  .track-card-compact {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid #18191a;
    padding-top: 20px;

    .track-card-image {
      position: relative; // IE11 needs this
      height: auto;
      background: #171819;

      &:before {
        content: '';
        float: left;
        padding-top: 100%;
      }

      img {
        position: absolute; // IE11 needs this
      }
    }

    .track-card-main {
      position: relative;
      background: #1d1e1f;

      &:before {
        content: '';
        float: left;
        padding-top: 61.8%;
      }
    }

    .track-card-timeline {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      height: 9px;
      background: #171819;
    }

    .track-card-username {
      margin: 6px 15px 0;
      font-size: .8125rem;
      line-height: (20px / 13px);
    }

    .track-card-title {
      margin: 0 15px;
      color: #bdbebf;
      font-size: .8125rem;
      line-height: (20px / 14px);

      .has-line-clamp & {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: normal;
        word-wrap: break-word;
      }
    }

    .track-card-actions {
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 100%;

      .cell:last-of-type {
        margin-left: auto;
        margin-right: 15px;
      }
    }
  }

  //=====================================
  //  Layout: full
  //-------------------------------------
  .track-card-full {
    display: flex;
    margin-bottom: 20px;
    height: 220px;
    background: #1d1e1f;

    .track-card-image {
      align-self: flex-start;
      width: 220px;
    }

    .track-card-main {
      flex: 1;
      border-left: 4px solid rgba(0, 0, 0, .1);
      padding: 14px 20px 0 16px;
      overflow: hidden; // required for .track-card-title ellipsis
    }

    .track-card-username {
      line-height: (18px / 13px);
    }

    .track-card-title {
      margin-bottom: 22px;
      color: #bdbebf;
      line-height: (19px / 15px);
    }

    .track-card-actions {
      .cell {
        width: 120px;

        &:first-of-type {
          width: 140px;
        }
      }
    }
  }
}
